TZ=Europe/Berlin

# Postgres config
POSTGRES_IMAGE_TAG=15-alpine
POSTGRES_DATA_PATH=./volumes/db/var/lib/postgresql/data

POSTGRES_USER=pretix_user
POSTGRES_PASSWORD=<strong-random-db-password>
POSTGRES_DB=pretix_db


# Pretix config
PRETIX_CONFIG_PATH=./pretix.cfg
PRETIX_DATA_PATH=./volumes/data

PRETIX_HTTP_PORT=8147
